@charset "utf-8";
/*Colors used
Gray #3F3F3F
Pink #E46A6B
Light Gray #6E6E6E
White #FFFFFF
Black #000000
*/

@font-face
{
	font-family: exo;
	src: url(font/exo/Exo-Regular.otf);
}

@font-face
{
	font-family: opensans;
	src: url(font/opensans/OpenSans-Regular.ttf);
}

@font-face
{
	font-family: simplifica;
	src: url(font/simplifica/simplifica.ttf);
}

/*General styling for entire page*/
/*Only some things are set here because that's how it works*/
body, html
{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
}

/*Set default text color*/
.navbar-custom a, body
{
	color: #CBCBCB;
}

/*Make links all uppercase*/
.navbar-nav
{
	text-transform: uppercase;
}

/*No more padding here!!!!!*/

/*Change color on hover*/
.navbar-custom .navbar-nav > li > a:hover
{
	color: #E46A6B;
	background-color: transparent;
}

/*Stop focus from changing elements once moved away*/
.navbar-custom .navbar-nav > li > a:focus
{
	color: white;
	background-color: transparent;
}

/*General section styling*/
section
{
	height: 100vh;
	width: 100%;
	color: #CBCBCB;
	font-family: opensans;
	position: relative;
}

/*Move section headers down a little more to increase space*/
section h2
{
	padding-top: 110px;
	text-align: center;
	font-size: 47px;
}

section h3
{
	text-align: center;
	font-size: 30px;
}

/*Any h3 element that comes RIGHT after a horizontal rule*/
hr + h3
{
	margin-top: 40px;
}

section h4
{
	font-size: 25px;
}

section h5
{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	font-size: 25px;
}

/*Styling for intro sections of both pages*/
#intro
{
	background-image: url(img/introdark-bg.jpg);
	text-align: center;
}

footer
{
	background-color: #222222;
	color: #CBCBCB;
	font-size: 30px;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	z-index: 2;
}

footer h5 i
{
	color: #E46A6B;
	margin-right: 5px;
}

footer h5 a i
{
	transition: all 0.5s ease;
}

footer h5 a i:hover
{
	color: #EFA7A8;
}

.bg
{
	background-color: black;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
}

.workbg
{
	height: 75vh;
	width: 75vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
}

#phPic
{
	background-image: url(img/ph-bg.png);
}

#phIntro, #sttIntro, #writeIntro, #ph, #slime, #write
{
	margin: 0;
	padding: 0;
	height: auto;
	background-color: #000;
}

#write, #ph, #slime
{
	padding-top: 50px;
	margin-bottom: 50px;
}

.galleryContainer:last-of-type
{
	padding-bottom: 150px;
}

#ph .galleryContainer:last-of-type
{
	margin-left: -30.5vw;
}

#sttPic
{
	background-image: url(img/stt-bg.png);
}

#writePic
{
	background-image: url(img/write-bg.jpg);
}

/*Styling for div on intro page*/
#introWrap
{
	text-align: center;
	color: #FFF;
	font-family: exo;
}

#introWrap h1
{
	font-size: 60px;
}

#introWrap h3
{
	font-size: 40px;
	color: #E46A6B;
}

/*General parallax styling*/
.parallax
{
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*General styling for the navbar and for when it is fully expanded*/
.navbar-custom
{
	background-color: transparent;
	padding: 20px;
	transition: all 0.5s ease;
	outline: 0;
	font-family: simplifica;
	font-size: 26px;
}

/*Slow transition so the active colour doesn't immediately show up*/
/*Don't make it go too slow*/
.navbar-nav li a
{
	transition: all 1s ease;
}

/*Styling just to make sure the brand/home/my name button won't be highlighted in anyway*/
/*Styling for navbar-brand/name*/
.navbar-brand.active, .navbar-brand:focus, .navbar-brand:hover, .navbar-brand
{
	background-color: transparent;
	color: #CBCBCB;
	font-family: simplifica;
	font-size: 28px !important;
	font-variant: small-caps;
	letter-spacing: 1.5px;
}

#navbar-home.active, #navbar-home
{
	background-color: transparent;
}

#navbar-home:hover
{
	transition: all 0.5s ease;
	color: #E46A6B;
}

/*Styling for the navbar when it shrinks*/
.navbar-custom.shrink
{
	padding: 0;
	background-color: black;
	border-bottom: 1px solid #E46A6B;
}

/*Active colour for navbar*/
.active, .navbar-custom .navbar-nav > li > a.active:hover, .navbar-custom .navbar-nav > li > a.active:focus
{
	background-color: #3F3F3F;
	color: white;
}

/*Styling for the horizontal rule after section headers*/
section hr
{
	display: block;
	height: 3px;
	border: none;
	background-image: linear-gradient(to right, rgba(228, 106, 107, 0), rgba(228, 106, 107, 1), rgba(228, 106, 107, 0));
	margin: auto;
	padding: 0;
	width: 85%;
}

/*Styling for the gallery items*/
.gallery
{
	margin: 25px;
	position: relative;
}

/*Styling for the container holding gallery items*/
/*Centers items and distances from the hr*/
.galleryContainer
{
	height: auto;
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

/*Styling for image hover overlay*/
/*It's rough but it works don't touch*/
.text
{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	transition: all 0.5s ease;
	box-sizing: border-box;
	font-size: 22px;
	height: 216px;
	width: 360px;
	z-index: 2;
	border-radius: 8px;
	opacity: 0;
}

.paper-text
{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	transition: all 0.5s ease;
	box-sizing: border-box;
	font-size: 22px;
	height: 280px;
	width: 200px;
	z-index: 2;
	border-radius: 22px;
	opacity: 0;
}

.text p, .paper-text p
{
	margin-top: 90px;
	margin-right: 5px;
}

.gallery a, .gallery a:hover
{
	text-decoration: none;
	color: white;
}

.slimeGallery
{
	margin-right: 4vw;
}

.pic, .thumb
{
	border-radius: 8px;
	transition: all 0.5s ease;
}

.paper
{
	border-radius: 22px;
	transition: all 0.5s ease;
}

.paper-pic
{
	border-radius: 8px;
	transition: all 0.5s ease;
}

.col-md-4 .paper-pic
{
	margin-left: 9vw;
}

.paper-pic:hover
{
	box-shadow: 0 0 06px 6px #E46A6B;
}

.text:hover, .paper-text:hover
{
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 1;
}

.thumb:hover, .paper:hover
{
	box-shadow: 0 0 6px 6px #E46A6B;
}
/*End hover overlay styling remember don't touch*/

.underline
{
	border-bottom: 2px solid #E46A6B;
}

.body-text
{
	text-align: left;
	font-size: 24px;
	margin-left: 10vw;
	margin-right: 3vw;
}

#about .aboutText
{
	font-size: 22px;
}

.col-md-4 .body-text
{
	text-align: left;
	font-size: 22px;
	margin-left: 10vw;
	margin-right: 3vw;
}

.col-md-4 .body-text-large
{
	text-align: left;
	font-size: 28px;
	margin-left: 10vw;
}

.col-md-4 .underline, .col-md-8 .underline
{
	font-size: 28px;
}

.col-md-8 .body-text
{
	text-align: left;
	font-size: 22px;
	margin-left: 10vw;
	margin-right: 10vw;
}

#write .col-md-8 .body-text
{
	display: inline-block;
	margin-right: 0;
}

.body-text-large
{
	text-align: left;
	font-size: 28px;
	margin-left: 10vw;
}

.col-md-12 .body-text
{
	text-align: left;
	font-size: 22px;
	margin-left: 10vw;
	padding: 0;
	margin-right: 9vw;
}

#write .container-fluid
{
	margin-left: -0.4vw;
}

#write .col-md-8, #write .paper-pic
{
	margin-top: 50px;
}

.container-fluid
{
	margin-top: 50px;
}

#about .container
{
	padding-top: 5vw;
}

#about .container-fluid
{
	margin-top: 0;
}

.bold
{
	color: #E46A6B;
	font-weight: bold;
}

.pink
{
	color: #E46A6B;
	display: inline-block;
}

.quote
{
	font-style: italic;
	color: #6E6E6E;
}

figcaption
{
	color: #CBCBCB;
	font-size: 16px;
	text-align: center;
}

figure
{
	text-align: center;
}

.italic
{
	font-style: italic;
}

p a
{
	color: #E46A6B;
	text-decoration: underline;
}

#introScroll
{
	position: relative;
	top: 10vw;
}

#introScroll a
{
	color: #FFF;
	transition: all 0.5s ease;
}

#introScroll a:visited, #introScroll a:link
{
	color: #FFF;
	background-color: transparent;
	text-decoration: none;
}

#introScroll a:hover
{
	text-decoration: none;
	color: #E46A6B;	
}

#introScroll a:active
{
	color: #FFF;
	text-decoration: none;
	background-color: transparent;
}